.container {
  padding: 16px;
  position: relative;
}

@media (min-width: 768px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container > div {
    /* background-color: #fff; */
    border-radius: 20px;
    width: 80%;
    max-width: 750px;
    padding: 24px;
    margin: 60px;

    display: flex;
    flex-direction: column;
    gap: 24px;

    /* background: #e0e0e0; */
    /* box-shadow: inset 22px 22px 44px #bebebe, inset -22px -22px 44px #ffffff; */
  }
}
