.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.bid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.bid > div {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
