.imageWrapper {
  width: 90%;
  margin: 0 auto;
}

.imageWrapper > div {
  position: unset !important;
}

.imageWrapper > .image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  box-shadow: 0 0px 12px 0 rgba(0, 0, 0, 0.4);
}
